<div class="social-icons">
    {{- range . }}
    <a href="{{ trim .url " " }}" target="_blank" rel="noopener noreferrer me"
        title="{{ (.title | default .name) | title }}">
        {{ partial "svg.html" . }}
    </a>
    {{- end }}

    <!--  -->
    <a href="mailto:&#108;&#101;&#110;&#110;&#097;&#114;&#116;&#046;&#107;&#108;&#101;&#105;&#110;&#064;&#115;&#116;&#117;&#100;&#101;&#110;&#116;&#046;&#117;&#110;&#105;&#045;&#116;&#117;&#101;&#098;&#105;&#110;&#103;&#101;&#110;&#046;&#100;&#101;"
        target="_blank" rel="noopener noreferrer me" title="Email">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 21" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
            <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
    </a>
</div>